fastapi
uvicorn
python-dotenv

streamlit
requests

sentence-transformers
transformers
torch

scikit-learn
rapidfuzz

pandas
numpy

beautifulsoup4
trafilatura
lxml

plotly

python-docx
python-pptx
reportlab
